src/main/resources/tasks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="task" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="number"/>
              <xs:element type="xs:date" name="due-date"/>
              <xs:element type="xs:string" name="topic"/>
              <xs:element name="instructions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="instruction" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="condition"/>
              <xs:element type="xs:string" name="solution"/>
              <xs:element type="xs:short" name="max-points"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="subject" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>